<div class="container-fluid">
	<div class="jumbotron">
	  <h1>Bootstrap Tutorial</h1> 
	  <p>Bootstrap is the most popular HTML, CSS...</p> 
	</div>
	<br><br>
	<div id="article-area">
		<h3>This is where the articles will go</h3>
		{{#each article}}
			<div class="new-article">
				<div class='card'>
					<div class='card-body'>
						<div class="card-header">
							{{headline}}
	  					</div>
						{{!-- <h3>{{headline}}</h3> --}}
						<p>{{summary}}</p>
						<a href='{{url}}' target="_blank">{{url}}</a>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</div>
