<div class="container-fluid">
	<nav class="navbar navbar-dark bg-primary">
		<form class="form-inline">
		    <a href="/"><button class="btn btn-primary" type="button">Scraped Articles</button></a>
		    <a href="/articles"><button class="btn btn-primary" type="button">Saved Articles</button></a>
	  	</form>
	</nav>
	<div class="jumbotron" id="jumbo">
	  <h1 style="color:#4274D4">Saved Articles</h1> 
	  <br><br>
	  <h3 style="color:#4274D4"> Feel Free to Comment or Delete</h3> 
	  <br><br>
	</div>
	<br><br>
	<div id="article-area">
		{{#each savedArticle}}
			<div class="new-article">
				<div class='card'>
					<div class='card-body'>
						<div class="card-header" style="background-color: #4274D4; padding: 2em;">
							<h5>
								<a href='{{url}}' target="_blank" style="color: white;">{{headline}}</a>
								<button type="button" class="btn btn-danger" data-id="{{_id}}" style="float: right;color: white">Delete Article</button>
								<button type="button" class="btn btn-light " data-id="{{_id}}" style="float: right; background-color: #A898D4;color: white;margin-right: 2em">Article Notes</button>
							</h5>
	  					</div>
						<p><strong>Summary:&nbsp;</strong>{{summary}}</p>
						<br>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</div>
